<ais-instantsearch [config]="config">
  <ais-panel header="Custom UI for refinemnt list ">
    <app-refinement-list></app-refinement-list>
  </ais-panel>

<!-- In this case i want to  tranform items-->
  <ais-panel header="Refinment list with transformItems">
    <!-- I also tries to pass * as attribute (ex.attribute="*")-->
    <ais-refinement-list
      attribute="childSkus.brand.displayName"
     [transformItems]="tranformRefinementItems"
    >
    </ais-refinement-list>
  </ais-panel>
</ais-instantsearch>
